.center-items {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.button {
    background-color: #3a8dff !important;
    color: #fff !important;
    padding: 10px 40px 10px 40px !important;

}

.mt-10 {
    margin-top: 10px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

body {
    background-color: #fff !important;
}